*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

body{
    background: #e10a0a;
}
.card{
    width: 700px;
    background: white;
    padding: 20px;
    margin: 20px;
    line-height: 28px;
}

::-webkit-scrollbar{
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#21D4Fd,#b721ff);
    border-radius: 100px;
}

