@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
}

body{
    min-height: 100vh;
    background-color: #d2d2d2;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #161a2d;
    padding: 25px 20px;
    transition: all 0.4s ease;
}
.sidebar:hover{
    width: 260px;

}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 42px;
    border-radius: 50%;
}

.logo h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-left: 23px;
}

.sidebar-link{
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}
.sidebar-link h4{
    color: #fff;
    font-weight: 500;
    margin: 10px  0;
    white-space: nowrap;
}
.sidebar-link h4 span{
    opacity: 0;
}
.sidebar:hover .sidebar-link h4 span{
    opacity: 1;
}

.sidebar-link li a{
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #dbd4d4e3;
    font-weight: 500;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;

}

.sidebar-link li a:hover{
    background: #ffffff2d;
    color: #fff;
    border-radius: 4px;
}
.user-account{
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
}
.user-account .user-profile{
    display: flex;
    align-items: center;
    color: #e5dede;
}
.user-profile img{
     width: 50px;
  height: 50px;
    border-radius: 50%;
}
.user-detail{
    margin-left: 23px;
    white-space: nowrap;
    
}
.user-profile h3{
    font-size: 1rem;
    font-weight: 600;
}
.user-profile span{
    font-size: 0.775rem;
    font-weight: 600;
}















